.mainTitle{
    color: var(--crema);
    position: absolute;
    top: 20px;
    left: 6vw;
    font-size: 72px;
    font-weight: bold;
    margin: 0;
}

.mainSubtitle{
    color: var(--crema);
    top: 100px;
    position: absolute;
    left: 8vw;
    font-weight: 400;
}

.mostPopular{
    width: 88vw;
    margin: 0 auto;
}
.mostPopular > h3 {
    color: var(--aguamarina);
    font-size: 30px;
}

@media only screen and (min-width: 1024px){
    .mainTitle, .mainSubtitle{
        left: 10vw;
    }
    .mostPopular{
        width: 80vw;
    }
}