.mainTitle{
    color: var(--crema);
    position: absolute;
    top: 20px;
    left: 6vw;
    font-size: 72px;
    font-weight: bold;
    margin: 0;
}

.mainSubtitle{
    color: var(--crema);
    top: 100px;
    position: absolute;
    left: 8vw;
    font-weight: 400;
}

.sectionContainer{
    width: 88vw;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--violeta-oscuro);
    border-radius: 10px;
}

.sectionContainer > h3 {
    color: var(--crema);
    font-size: 30px;
}

#popularContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media only screen and (min-width: 1024px){
    .mainTitle, .mainSubtitle{
        left: 10vw;
    }
    .mostPopular{
        width: 80vw;
    }
}